.footer {
    padding: 45px 0;
  .footer-link {
    color: #64748b;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
    display: block;
    
  }
}
